.card {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
  & .card:hover {
    border: 1px solid blue;
  }
}

.btn {
  &:hover {
    opacity: 0.6;
  }
}
