<div class="container mt-5">
    <div class="card">

        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="90" />
            </div>
            <div class="quiz-header">
                <h4>Angular & TypeScript Quiz</h4>
                <span style="font-style: italic">Welcome {{name}}</span>
            </div>
        </div>

        <ng-container *ngIf="!isQuizCompleted; else results">
            <div class="d-flex justify-content-around py-3">
                <div class="score">
                    <h5>{{points}} points</h5>
                </div>
                <div class="question-remain"><span>Question {{currentQuestion+1}} of {{questionList.length}}</span>
                </div>
                <div class="timer">
                    <h5>{{counter}} sec ⏱</h5>
                </div>
            </div>

            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [ngStyle]="{'width': progress+'%'}" aria-valuemin="0" aria-valuemax="90">
                </div>
            </div>
            <div class="question">
                <div class="card">
                    <h3>{{questionList[currentQuestion]?.questionText}}</h3>
                </div>
            </div>

            <div class="option">
                <ol>
                    <li *ngFor="let option of questionList[currentQuestion]?.options">
                        <div class="card" (click)='handleAnswer(currentQuestion,option?.correct)'
                            [ngClass]="btnIsDisabled? 'disabled': null" appChandeBg [isCorrect]="option?.correct">
                            {{option?.text}}
                        </div>
                    </li>
                </ol>
            </div>

            <div class="d-flex justify-content-between">
                <button [disabled]="currentQuestion === 0 ||btnIsDisabled" class="btn" (click)="prev()">
                    <i class="fa text-primary fa-chevron-left fa-3x"></i>
                </button>
                <button class="btn" (click)="resetQuiz()">
                    <i class="fa fa-refresh fa-3x text-primary "></i>
                </button>
                <button [disabled]="currentQuestion+1 === questionList.length || btnIsDisabled" class="btn"
                    (click)="next()">
                    <i class="fa text-primary fa-chevron-right fa-3x"></i>
                </button>
            </div>
        </ng-container>

        <ng-template #results>
            <div class="row d-flex justify-content-between">
                <img style='width: 50%' class="img-fluid col-sm-12 mx-auto"
                    src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="finish">

                <div class="result text-center col-md-6 col-ms-12">
                    <h3>Congratulations!!! <br> You've completed the QUIZ. <br>Check out your result: </h3>
                    <p>Total Questions Attemted: {{questionList.length}}</p>
                    <p>Total Correct Answers: {{correctAnswers}}</p>
                    <p>Total Incorrect Aswers: {{questionList.length - correctAnswers}}</p>
                    <p>Your Score: {{points}}</p>

                </div>
            </div>
        </ng-template>


    </div>
</div>